@mixin start-state {
  transform: translateX(1em);
  opacity: 0;
}

@mixin end-state {
  transform: translateX(0);
  opacity: 1;
}

.single-text {
  @include start-state();

  display: inline-block;
  min-width: 0.5em;
  animation: fly-in 0.4s ease-out;

  &.trans {
    @include end-state();

    animation: fly-out 0.4s ease-out;
  }
}

@keyframes fly-in {
  from {
    @include end-state();
  }

  to {
    @include start-state();
  }
}

@keyframes fly-out {
  from {
    @include start-state();
  }

  to {
    @include end-state();
  }
}
