@mixin fullsize {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.wipe-in {
  transition-duration: 0.3s;

  &.left {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  &.right {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  &.trans {
    @include fullsize();
  }
}

.wipe-out {
  @include fullsize();

  transition-duration: 0.3s;

  &.trans {
    &.left {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    &.right {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
  }
}
