@import '@/template.scss';

#cursor {
  position: fixed;
  z-index: $CURSOR_Z_INDEX;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  mix-blend-mode: difference;

  &.display {
    display: inline-block;
  }

  &.hidden {
    display: none;
  }
}
