@import '@/template.scss';

.section ,
.section-background {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5vh;
  padding-right: calc(16vw - 32px);
  padding-bottom: 5vh;
  padding-left: calc(16vw - 32px);


  // size
  &.half {
    width: 100%;
    min-height: 50vh;
  }

  // horizontal align
  &.h-center {
    justify-content: center;
  }

  &.h-left {
    justify-content: flex-start;
  }

  &.h-right {
    justify-content: flex-end;
  }

  // vertical align
  &.v-center {
    align-items: center;
  }

  &.v-top {
    align-items: flex-start;
  }

  &.v-bottom {
    align-items: flex-end;
  }

  &.padding {
    padding-bottom: 40vh;
  }
}

.section {
  position: relative;
  z-index: $SECTION_Z_INDEX;
  min-height: 100vh;
}

.section-background {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.titlebar {
  position: relative;
  color: #333;

  &::before {
    position: absolute;
    right: calc(100% + 8px);
    display: inline-block;
    color: #666;
    @media (max-width: 768px) {
      bottom: calc(100% + 8px);
      left: 0;
    }
  }

  &[data-number]::before {
    content: attr(data-number);
  }

  &:not([data-number]) {
    position: absolute;
    top: calc(1vh);
    left: calc(16vw - 32px);
  }

  &:not([data-number])::before {
    content: '0' counter(section);
    counter-increment: section;
  }
}

body[data-theme='dark'] .titlebar {
  color: #bbb;

  &::before {
    color: #bbb;
  }
}
