.section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  padding-right: calc(50px + 5vw);
  padding-bottom: 5vh;
  padding-left: calc(50px + 5vw);


  // size
  &.half {
    width: 100%;
    min-height: 50vh;
  }

  // horizontal align
  &.h-center {
    justify-content: center;
  }

  &.h-left {
    justify-content: flex-start;
  }

  &.h-right {
    justify-content: flex-end;
  }

  // vertical align
  &.v-center {
    align-items: center;
  }

  &.v-top {
    align-items: flex-start;
  }

  &.v-bottom {
    align-items: flex-end;
  }

  &.padding {
    padding-bottom: 40vh;
  }
}

.titlebar {
  position: absolute;
  top: calc(1vh);
  left: calc(50px + 5vw);
  color: #333;

  &::before {
    position: absolute;
    right: calc(100% + 8px);
    display: inline-block;
    color: #666;
    content: '0' counter(section);
    counter-increment: section;
  }

}
