// z-index;
$CURSOR_Z_INDEX: 9;
$OPENNING_Z_INDEX: 8;
$HEADER_Z_INDEX: 5;
$MENU_Z_INDEX: 3;

$DARK_BACKGROUND: #222;




@mixin font-large {
  color: #222;
  font-weight: bold;
  font-size: 9.3vw;
  @media (min-width: 1281px) {
    font-size: 120px;
  }
  @media (max-width: 430px) {
    font-size: 40px;
  }

  body[data-theme='dark'] & {
    color: #fff;
  }
}

@mixin font-mid {
  color: #333;
  font-weight: bold;
  font-size: 5vw;
  @media (min-width: 1281px) {
    font-size: 64px;
  }
  @media (max-width: 430px) {
    font-size: 21.5px;
  }

  body[data-theme='dark'] & {
    color: #fff;
  }
  
}
