@import '@/template.scss';

$background-color: #f2f2f2;
$logo-width: 320px;
$logo-height: 192px;

#background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $background-color;
  transition-duration: 0.3s;
}

#centerBox {
  position: relative;
  width: $logo-width;
  min-width: $logo-width;
  height: $logo-height;
  overflow: hidden;
}

#backgroundVideo,
#videoFilter,
#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#backgroundVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;

  iframe {
    flex: 120% 0 0;
    height: 150%;
  }
}

#videoFilter {
  background: rgba(187, 187, 187, 0.2);

  &.strong {
    background: rgba(232, 232, 232 , 0.85);
  }
}

#cover {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

#svg path {
  transition-duration: 0.3s;
  fill: $background-color;
}

body[data-theme='dark'] {
  #background {
    background: $DARK_BACKGROUND;
  }

  #svg path {
    fill: $DARK_BACKGROUND;
  }

}
